body {
	font-family: rawengulk, Helvetica, Arial;
	margin: 0px;
	padding: 0px;
	
	background-color: rgb(220, 220, 220);
}

@font-face { 
	font-family: 'rawengulk';
	src: url('font/rawengulk.ttf') format('truetype');
}	

@font-face { 
	font-family: 'rawengulk';
	src: url('font/rawengulkBold.ttf') format('truetype');
	font-weight:bold;
}	

/*E' conveniente impostare la larghezza in px e l'altezza in % così da non sconvolgere il layout nel ridimensionamento
 *(più avanti, responsive design, tutto in px).
 *Inoltre conviene usare fixed se vogliamo definire un layout ben ancorato in una determinata posizione, viceversa
 *in questo caso utilizzando "absolute" nello scorrere in basso finirebbe la barra laterale
 */

 /*Div della barra laterale*/
#lateralHomeStudente { 
	position: fixed;
	top: 0%;
	width: 230px;
	height: 100%;
	background-color: rgb(28,38,47);
	padding: 2px 0px 2px 0px;
	box-shadow: 4px 4px 2px grey;
	float:left;
}

/*div contenente il logo*/
#logoHomeStudente {
	position: absolute; 
	padding: 10px;  
	width: 89%;
}
/*L'height si basa sul contenuto, non dobbiamo dargliela noi*/
/*Div principale*/
#main {
	float:left;
	position: absolute; 
	left: 230px;
	width: 82%;
}
/*Div interno alla barra del menu laterale contenente tutti i link*/
#navigation {
	position: relative;
	top: 100px;
	height: 69%;
	width: 95%;
	margin-left: 8px;
	bottom: 0px;
}

/*stili per i link facenti parte della barra navigation*/
#navigation a{
	position: relative;
	margin-bottom: 20px;
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	color: rgba(255, 255, 255, 0.7); /*Bianco con opacità al 0.7*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-decoration: none; /*link senza sottolineatura*/
    /*la transizione si applica su hover e focus che sono stati stabiliti più avanti. All indica che la transizione viene applicata a 
	tutte le proprietà di hover e focus. Ease in out indica la rapidità all'inizio e alla fine con la quale vogliamo farla apparire. */ 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#navigation a:hover,
#navigation a:focus { 
	color: #fff; /*quando ci passiamo sopra con il mouse diventa bianco*/
}

#navigation img {
	position: relative;
	width: 25px;
	margin-right: 10px;
	opacity: 0.25;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#navigation a:hover img,
#navigation a:focus img{ 
	opacity: 0.8; /*quando ci passiamo sopra con il mouse l'immagine da opaca diventa più bianca*/
}

#cercaRiassunti input[type="text"] {
	position: relative;
	width: 84%;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 0.9em;
	line-height: 1.8em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
}

#cercaRiassunti input[type="text"]:hover,
#cercaRiassunti input[type="text"]:focus { /*passandoci sopra si illuminano*/
	border-color: rgba(41,151,293, 0.8);
	}	

#cercaRiassunti input[type="image"] {
	position:relative;
	width:10%;
	top: 7px;
	opacity: 0.25;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cercaRiassunti input[type="image"]:hover,
#cercaRiassunti input[type="image"]:focus { 
	opacity: 0.8; /*quando ci passiamo sopra con il mouse l'immagine da opaca diventa più bianca*/
}


/*div contenente le informazioni sullo studente*/
#navigationUser {
	position: relative;
	top: 0px;
	height: 75px;
	width: 95%;
	margin-left: 8px;
	color: white;
}

#navigationUser img {
	position: relative;
	width: 25px;
	margin-right: 10px;
	opacity: 0.8;
}

#user {
	position:relative;
	margin-bottom: 8px;
}

#reputation {
	position: relative;
	display: inline-block;
}

#coins {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

#aggiungiRiassunto {
	position: relative;
	width: 800px;
	margin-left: 50%;
	left: -400px;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  5px 5px 25px 5px rgb(182, 182, 182);
}

#nomeMateria {
	font-size: 1.5em;
	padding: 5px;
}

#aggiungiRiassunto form {
	position: relative;
	padding: 5px;
	width: 90%;
    white-space: nowrap;
}

input[name="titoloRiassuntoForm"] {
	position: relative;
	width: 100%;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 0.9em;
	line-height: 1.5em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input[type="text"]:hover,
input[type="text"]:focus { /*passandoci sopra si illuminano*/
	border-color: rgba(41,151,293, 0.8);
	}	

textArea {
	position: relative;
    width: 100%;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 0.9em;
	line-height: 1.5em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

textArea:hover,
textArea:focus { /*passandoci sopra si illuminano*/
	border-color: rgba(41,151,293, 0.8);
	}	

input[type="file"] { /*Lo rendiamo invisibile così possiamo sfruttare il pulsante tramite lable*/
	opacity: 0;
	width: 0.1px;
}

label {
	position: relative;
	padding: 5px 9px;
	width: 45px;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 1.15em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgba(214, 62, 62, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);

}

label:hover,
label:focus {
	background-color: rgba(214, 62, 62, 1);
	}

input[name="tagsRiassuntoForm"] {
	position: relative;
	width: 100%;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 0.9em;
	line-height: 1.5em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#aggiungiRiassunto input[type="submit"] {
	position: relative;
	padding: 10px 18px;
	margin-top: 15px;
	width: 200px;
	white-space: nowrap;
	margin-left: 50%;
	left: -100px;

	font-family: rawengulk, Helvetica, Arial;
	font-size: 1.15em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgb(41,151,293);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
}

#aggiungiRiassunto input[type="submit"]:hover,
#aggiungiRiassunto input[type="submit"]:focus {
	background-color: rgba(41,151,293, 0.80);
	}

/* E' lo stesso stile di aggiungiRiassunto */
/*DA QUI IN POI VISUALIZZA RIASSUNTO*/
#visualizzaRiassunto {
	position: relative;
	width: 800px;
	margin-left: 50%;
	left: -400px;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  5px 5px 25px 5px rgb(182, 182, 182);
}	
#informazioniRiassunto {
	width: 99%;
	text-align: left;
	margin-left: 1%;
}

#opzioniRiassunto a{
	position: relative;
	display: inline-block;
	top: 10px;
	padding: 3px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-decoration: none; /*link senza sottolineatura*/
	border: 1px solid black;
	left: 1%;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#aggiungiAiPreferiti:hover,
#aggiungiAiPreferiti:focus { 
	background-color: #FBFF0D;
}

#togliloDaiPreferiti {
	background-color: #FBFF0D;
}

#togliloDaiPreferiti:hover,
#togliloDaiPreferiti:focus { 
	background-color: white;
}

#segnalaRiassunto {
	left: 10px;
}

#segnalaRiassunto:hover,
#segnalaRiassunto:focus { 
	background-color: #FF0000; /*quando ci passiamo sopra con il mouse diventa bianco*/
}

/* VISUALIZZA RIASSUNTO ADMIN */
#tuttoOk:hover,
#tuttoOk:focus { 
	background-color: #00F899;
}

/* HOME-ADMIN */
#tabellaTagEstrattiAdmin {
	position: relative;
	margin-top: 10px;
	width: 99%;
	border-collapse: collapse;
}

#tabellaTagEstrattiAdmin th {
	text-align: left;
}

#tabellaTagEstrattiAdmin tr td {
	text-align: left;
}

#tabellaTagEstrattiAdmin textarea {
	position: relative;
	width: 90%;
}

input[name="modificaEstrattoAdmin"] {
	position: relative;
	padding: 5px 9px;
	margin-top:-5px;
	margin-bottom: 5px;
	margin-right: 15px;
	width: 100px;

	font-family: rawengulk, Helvetica, Arial;
	font-size: 1em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgb(41,151,293);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
}


input[name="modificaEstrattoAdmin"]:hover,
input[name="modificaEstrattoAdmin"]:focus {
	background-color: rgba(41,151,293, 0.80);
	}

input[name="annullaEstrattoAdmin"] {
	position: relative;
	padding: 5px 9px;
	margin-top:-5px;
	margin-bottom: 5px;
	width: 100px;

	font-family: rawengulk, Helvetica, Arial;
	font-size: 1em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgba(184, 0, 0, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
}


input[name="annullaEstrattoAdmin"]:hover,
input[name="annullaEstrattoAdmin"]:focus {
	background-color: rgba(255, 0, 0, 0.7);
	}

/*DA QUI IN POI CERCA RIASSUNTO*/

#riassuntoTrovato {
	position: relative;
	width: 800px;
	margin-left: 50%;
	left: -400px;
	background-color: white;
	top: 50px;
	margin-bottom: 20px;
	padding: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}	


#risultatoRicercaAlto {
	font-size: 1.5em;
	padding: 5px;
}

#estratto{
	position: relative;
	font-size: 0.9em;
	color: black;
	font-weight: normal;
	width: 99%;
}

#estratto a {
	position: relative;
	font-size: 0.8em;
	color: black;
	font-weight: normal;
}

#titoloRiassuntoTrovato {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 1.1em;
	width: 75%;
	text-decoration: none;
	color: black;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#titoloRiassuntoTrovato:hover,
#titoloRiassuntoTrovato:focus { 
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#visualizzazioniPreferitiRiassuntoTrovato {
	position: relative;
	display: inline-block;
	width: 24%;
	margin-top: -10px;
	text-align: right;
}
#riassuntoTrovato [src='images/iconViews.png'] {
	position: relative;
	width: 30px;
	top: 10px;
}

#riassuntoTrovato [src='images/iconFavorites.png'] {
	position: relative;
	width: 30px;
	top: 10px;
}

#emailRiassuntoTrovato {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-size: 0.95em;	
}

#tempoNomeCognomeRiassuntoTrovato {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-size: 0.95em;
}

#tagRiassuntoTrovato {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 0.9em;
	text-decoration: none;
	color: white;
	background-color: rgba(28,38,47, 0.7);
	padding: 1px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#tagRiassuntoTrovato:hover,
#tagRiassuntoTrovato:focus { 
	background-color: rgba(28,38,47, 1);
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}

#pagineRiassuntoTrovato {
	width: 100%;
	padding-bottom: 5px;
	font-size: 0.9em;
}

#pagineNextRiassuntoTrovato{
	position: relative;
	width: 8.5%;
	margin-left: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: rgba(254, 126, 6, 0.7);
	padding: 2px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#paginePrevRiassuntoTrovato{
	position: relative;
	width: 9%;
	margin-right: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: rgba(254, 126, 6, 0.7);
	padding: 2px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#pagineRiassuntoTrovato a:hover,
#pagineRiassuntoTrovato a:focus { 
	background-color: rgba(254, 126, 6, 1);
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}

/* DA QUI IN POI MODIFICA ESTRATTO */

/*Possiede lo stesso stile di riassuntoTrovato*/
#modificaEstratto {
	position: relative;
	width: 800px;
	margin-left: 50%;
	left: -400px;
	background-color: white;
	top: 50px;
	margin-bottom: 20px;
	padding: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}	

#modificaEstratto textarea {
	position: relative;
	width: 99%;
	font-family: rawengulk, Helvetica, Arial;
	font-size: 0.9em;
	line-height: 1.5em;
		
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#modificaEstratto textArea:hover,
#modificaEstratto textArea:focus { /*passandoci sopra si illuminano*/
	border-color: rgba(41,151,293, 0.8);
	}	


#modificaEstratto input[type="submit"] {
	position: relative;
	padding: 10px 18px;
	margin-top:-5px;
	margin-bottom: 5px;
	width: 200px;
	white-space: nowrap;
	margin-left: 50%;
	left: -100px;

	font-family: rawengulk, Helvetica, Arial;
	font-size: 1.15em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgb(41,151,293);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
}


#modificaEstratto input[type="submit"]:hover,
#modificaEstratto input[type="submit"]:focus {
	background-color: rgba(41,151,293, 0.80);
	}


/*DA QUI IN POI ANTEPRIMA RIASSUNTO*/
#tagAnteprima {
	position: relative;
	display: inline-block;
	margin-right: 2px;
	margin-top: 5px;
	font-size: 0.9em;
	text-decoration: none;
	white-space: nowrap;
	color: white;
	background-color: rgba(28,38,47, 0.7);
	padding: 1px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#tagAnteprima:hover,
#tagAnteprima:focus { 
	background-color: rgba(28,38,47, 1);
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}



#tagRiassuntoTrovato:hover,
#tagRiassuntoTrovato:focus { 
	background-color: rgba(28,38,47, 1);
	box-shadow:  2px 2px 10px 2px rgb(182, 182, 182);
}

#tabellaTagEstratti {
	position: relative;
	margin-top: 10px;
	left: -49%;
	margin-left: 50%;
	width: 98%;
	border-collapse: collapse;
}

#tabellaTagEstratti th {
	text-align: center;
}

#tabellaTagEstratti tr td {
	text-align: left;
}

#tabellaTagEstratti tr td + td { /*selezioniamo il fratello di tr td*/
	position:relative;
	text-align: left;
	width: 100%;
	padding-top: 5px;
}

/*zebra-striped tables: https://www.w3schools.com/css/css_table.asp */
tr:nth-child(odd){background-color: #f2f2f2}


#pulsantiAnteprima {
	width: 340px; 
	position:relative; 
	margin-left: 50%; 
	left: -170px; 
	padding-top: 15px;
	padding-bottom: 15px;
}


#tornaAdAggiungiRiassunto {
	position: relative;
	display: inline-block;
	padding: 10px 18px;
	margin-top: 15px;
	width: 100px;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;


	font-size: 1.15em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgb(177, 36, 0);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);

}

#tornaAdAggiungiRiassunto:hover,
#tornaAdAggiungiRiassunto:focus {
	background-color: rgb(183, 76, 48);
	}

#confermaRiassunto{
	display: inline-block;
	position: relative;
	padding: 10px 18px;
	margin-top: 15px;
	width: 160px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;

	font-family: rawengulk, Helvetica, Arial;
	font-size: 1.15em;
	line-height: 1;
	color: white;
	border: none;
	background-color: rgb(41,151,293);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.5);
}

#confermaRiassunto:hover,
#confermaRiassunto:focus {
	background-color: rgba(41,151,293, 0.80);
	}


/* DA QUI MESSAGGIO DI RISPOSTA IN CASO DI ERRORE O DI ATTESA */
#message {
	position: relative;
	width: 600px;
	font-size: 1.4em;
	left: -300px;
	margin-left: 50%;
	margin-top: 150px;	
}

#message img {
	display: inline-block;
	position: relative;
	width: 200px;
	margin-left: 50%;
	left: -100px;
}

#message div {
	display: inline-block;
	position: relative;
	width: 600px;
	white-space: normal;
	text-align: center;
}