body {
	background-color: white;
	font-family: rawengulk, Helvetica, Arial;
	margin: 0px;
	padding: 0px;
	
	background-color: rgb(220, 220, 220);
}

@font-face { 
	font-family: 'rawengulk';
	src: url('font/rawengulk.ttf') format('truetype');
}	

@font-face { 
	font-family: 'rawengulk';
	src: url('font/rawengulkBold.ttf') format('truetype');
	font-weight:bold;
}	

#topperHomeStudente { 
	position: fixed;
	top: 0%;
	width: 230px;
	height: 100%;
	background-color: rgb(28,38,47);
	padding: 2px 0px 2px 0px;
	box-shadow: 4px 4px 2px grey;
	float:left;
}


#logoHomeStudente {
	position: absolute; 
	padding: 10px;  
	width: 210px;
}

#main {
	float:left;
	position: relative; 
	left: 230px;
}